<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="place_info">
	<!-- place_type이 0이면 명소, 1이면 음식점, 2이면 숙소의 데이터 모두 출력 (순서대로)  -->
  <select id="selectAll" resultType="com.information.vo.Place_InfoVo">
  	select * from place_info order by place_no
    <!-- select * from place_info where place_type = #{place_type} order by place_no -->
    
    <!-- 검색 기능 합침 -->
    <!-- select * from place_info
    <if test="keyword != null and keyword != ''">
    	where ${searchColumn} like '%' || #{keyword} || '%' order by place_no
    </if> --> 
  </select>
  
  	<!-- 페이징 처리 (place_type은 아직 안한 상태)-->
  <!-- <select id="selectPage" resultType="Place_InfoVo" parameterType="map">
  	select place_no, place_name, place_img, place_tel, place_open, place_price, place_row, place_col, place_addr, place_type, place_detail from 
  		(select rownum r, place_no, place_name, place_img, place_tel, place_open, place_price, place_row, place_col, place_addr, place_type, place_detail from 
  			(select * from place_info order by place_no)) 
  				where r between #{start, jdbcType=VARCHAR} and #{end, jdbcType=VARCHAR}
  </select> -->
  
  <!-- 페이징 처리 + 검색 + 정렬 -->
  <select id="selectPage" resultType="com.information.vo.Place_InfoVo">
  	select place_no, place_name, place_img, place_tel, place_open, place_price, place_row, place_col, place_addr, place_type, place_detail, place_hit from 
  		(select rownum r, place_no, place_name, place_img, place_tel, place_open, place_price, place_row, place_col, place_addr, place_type, place_detail, place_hit from 
  			(select * from place_info where place_type = #{place_type}
  			<if test="keyword != null and keyword != ''"> <!-- 장소명과 내용, 주소만 가지고 검색 설정 -->
  				and ${searchColumn} like '%' || #{keyword} || '%'
  			</if> 
  			<if test="sortColumn != null">
  			  	order by ${sortColumn}
  			</if>
  				)) where r between #{start} and #{end}
  </select>
  
    <!-- 전체 몇페이지까지 있는지 확인 (페이징 처리 관련) -->
  <select id="totalRecord" resultType="java.lang.Integer">
  	select count(*) from place_info where place_type = #{place_type}
	<if test="keyword != null and keyword != ''">
		and ${searchColumn} like '%' || #{keyword} || '%'
	</if>
  </select>
  
  	<!-- 클릭시 조회수 증가 -->
  <update id="updateHit">
  	update place_info set place_hit = place_hit + 1 where place_no = #{place_no}
  </update>
  
  	<!-- 여행장소번호가 x번인걸 눌렀을때 상세화면으로 이동 -->
  <select id="detail" resultType="com.information.vo.Place_InfoVo">
  	select * from place_info where place_no = #{place_no}
  </select>
  
  	<!-- 메인 페이지 인기 서울 명소 TOP 6 -->
  <!-- <select id="mainTop" resultType="com.information.vo.Place_InfoVo">
  	<![CDATA[
  		select rownum, place_img, place_name, place_hit from 
    		(select * from place_info order by place_hit desc) where rownum <= 6
   	]]> 	
  </select> -->
  
    <!-- 메인 페이지 인기 서울 명소 TOP 6 -->
  <select id="mainTop" resultType="com.information.vo.Place_InfoVo">
  	<![CDATA[
  		select place_no, place_name, place_img, place_tel, place_open, place_price, place_row, place_col, place_addr, place_type, place_detail, place_hit from 
    		(select place_no, place_name, place_img, place_tel, place_open, place_price, place_row, place_col, place_addr, place_type, place_detail, place_hit from 
    			(select * from place_info order by place_hit desc)) where rownum <= 6
   	]]> 		
  </select>
  
  <!-- <select id="">
  	select place_no, place_name from place_info where place_name like '%' || '강남' || '%';
	select board_no, board_title from board_post where board_title like '%' || '강남' || '%';
  </select> -->
  
</mapper>