<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="place_info">
	<!-- place_type이 0이면 명소, 1이면 음식점, 2이면 숙소의 데이터 모두 출력 (순서대로)  -->
  <select id="selectAll" resultType="Place_InfoVo">
  	select * from place_info order by place_no
    <!-- select * from place_info where place_type = #{place_type} order by place_no -->
    
    <!-- 검색 기능 합침 -->
    <!-- select * from place_info
    <if test="keyword != null and keyword != ''">
    	where ${searchColumn} like '%' || #{keyword} || '%' order by place_no
    </if> --> 
  </select>
  
  	<!-- 페이징 처리를 따로 만들음 -->
  <select id="selectPage" resultType="Place_InfoVo">
  	select place_no, place_name, place_img, place_tel, place_open, place_price, place_row, place_col, place_addr, place_type, place_detail from 
  		(select rownum r, place_no, place_name, place_img, place_tel, place_open, place_price, place_row, place_col, place_addr, place_type, place_detail from 
  			(select * from place_info where place_type = #{type} order by place_no)) 
  				where r between #{start} and #{end}
  </select>
  
    <!-- 전체 몇페이지까지 있는지 확인 (페이징 처리 관련) -->
  <select id="totalRecord" resultType="java.lang.Integer">
  	select count(*) from place_info where place_type = #{place_type}
  </select>
  
  	<!-- 여행장소번호가 x번인걸 눌렀을때 상세화면으로 이동  -->
  <select id="detail" resultType="Place_InfoVo">
  	select * from place_info where place_no = #{place_no}
  </select>
</mapper>