<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board_post">
 
	<!-- 게시글 목록 
	<select id="select" resultType="com.board.vo.Board_PostVo">
		SELECT b.board_no, b.board_kinds, h.head_tag_name, b.board_title, 
		m.mem_nickname, b.board_date, b.board_hit 
		FROM board_post b, member_info m, head_tag h
		WHERE b.mem_no = m.mem_no and b.head_tag_no = h.head_tag_no   
		order by b.board_no desc
	</select> -->
	   <!-- 게시글 목록 -->   
   <select id="select" resultType="com.board.vo.Board_PostVo">
      SELECT
       *
       FROM (
         SELECT 
            A.*,
            rn AS rnum,
            COUNT(*) OVER() AS totcnt
            FROM (
               SELECT rownum rn
                    , b.board_no
                    , h.head_tag_name
                    , b.board_title
                    , b.board_content
                    , m.mem_nickname
                    , b.board_kinds
                    , b.board_date
                    , b.board_hit
               FROM board_post b, member_info m, head_tag h
               WHERE b.mem_no = m.mem_no and b.head_tag_no = h.head_tag_no  
               
               
            <if test="searchOption == 1"> <!-- 전체 -->   
               <if test="keyword != null and keyword != ''"> <!-- 검색조건 -->
                    AND (b.board_title LIKE '%'||#{keyword,jdbcType=VARCHAR}||'%' OR b.board_content LIKE '%'||#{keyword,jdbcType=VARCHAR}||'%')
                 </if> 
            </if>   
            
            <if test="searchOption == 2"> <!-- 제목 -->
               <if test="keyword != null and keyword != ''"> <!-- 검색조건 -->
                  AND b.board_title LIKE '%'||#{keyword,jdbcType=VARCHAR}||'%'
               </if>
            </if>   


            <if test="searchOption == 3"> <!-- 제목 -->
               <if test="keyword != null and keyword != ''"> <!-- 검색조건 -->
                  AND b.board_content LIKE '%'||#{keyword,jdbcType=VARCHAR}||'%'
               </if>
            </if>   
            
               
               order by b.board_no DESC
            )A
          ) <![CDATA[ where rnum > 0 and rnum <= 10]]>
   </select>  
   <!-- 페이징 처리 아직 안되서, 현재 1~10번 한 페이지만 보여집니다. -->

	<!-- 게시글 등록 -->
	<!-- CREATE SEQUENCE seq_board_no INCREMENT BY 1 START WITH 1 MINVALUE 1; -->
	<insert id="insert">
		insert into board_post(board_no, mem_no, board_kinds, board_title, board_date, board_hit, board_content, board_copy, head_tag_no) values(seq_board_no.nextval, #{mem_no}, #{board_kinds}, #{board_title}, sysdate, 0, #{board_content}, #{board_copy}, #{head_tag_no})
	</insert>

	<!-- 게시글 상세 -->
	<select id="detail" resultType="com.board.vo.Board_PostVo">
		SELECT b.board_no, b.mem_no, mi.mem_nickname, h.head_tag_name, b.board_kinds, b.board_title, to_char(b.board_date, 'YYYY-MM-DD HH:MI:SS') board_date, b.board_hit
		    , b.board_content, b.board_copy
		  FROM board_post b, member_info mi, head_tag h
		 WHERE b.mem_no = mi.mem_no
		       AND b.head_tag_no = h.head_tag_no
		       AND b.board_no = #{board_no}
	</select>

	<!-- 게시글 수정 -->
	<update id="update">
		update board_post set board_title=#{board_title}, board_content=#{board_content}, board_copy=#{board_copy}, board_update_date=sysdate
		where board_no=#{board_no}
	</update>

	<!-- 게시글 삭제 -->
	<delete id="delete">
		delete from board_post where board_no=#{board_no}
	</delete>
	
	<!-- 게시글 조회수 증가 -->
	<update id="updateHit">
		update board_post set board_hit = board_hit + 1 where board_no = #{board_no}
	</update>
	
	<!-- 말머리 목록 -->
	<select id="selectHead_Tag" resultType="com.board.vo.Head_TagVo">
		select head_tag_no from head_tag
	</select>
	
	<!-- 게시판 메인1. 최신글 -->
	<select id="selectMain1" resultType="com.board.vo.Board_PostVo">
		SELECT board_content
		FROM (SELECT *
			FROM board_post
			ORDER BY board_date DESC)
		<![CDATA[ WHERE ROWNUM <= 5 ]]>
	</select>
	
	<!-- 게시판 메인2. 인기글 -->
	<select id="selectMain2" resultType="com.board.vo.Board_PostVo">
		SELECT board_content
		FROM (SELECT *
			FROM board_post
			ORDER BY board_hit DESC
		)
		<![CDATA[ WHERE ROWNUM <= 5 ]]>
	</select>
	
	<!-- 게시판 메인3. 후기 -->
	<select id="selectMain3" resultType="com.board.vo.Board_PostVo">
		SELECT board_content
		FROM (
			SELECT
			ROW_NUMBER() OVER (ORDER BY a.board_date DESC) AS NUM,
			a.board_content
			FROM board_post a
			WHERE board_kinds=2
			ORDER BY board_date DESC
			)
		<![CDATA[ WHERE ROWNUM <= 5 ]]>
	</select>
	
	<!-- 게시판 메인4. 동행 -->
	<select id="selectMain4" resultType="com.board.vo.Board_PostVo">
		SELECT board_content
		FROM (
			SELECT
			ROW_NUMBER() OVER (ORDER BY a.board_date DESC) AS NUM,
			a.board_content
			FROM board_post a
			WHERE board_kinds=3
			ORDER BY board_date DESC
			)
		<![CDATA[ WHERE ROWNUM <= 5 ]]>
	</select>
</mapper>