<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mem_info"> 
	<select id="login" resultType="com.member.vo.Member_InfoVo"> <!-- 로그인 -->
		select * from member_info where mem_id = #{mem_id} and mem_pwd = #{mem_pwd}
	</select> 
	<select id="selectMember" resultType="com.member.vo.Member_InfoVo">
   		 select * from member_info where mem_id=#{username}
 	 </select>
	<insert id="insert"> <!-- 회원가입 -->
		insert into member_info(mem_no,mem_id,mem_pwd,mem_email,mem_email_agree,mem_name,mem_info_open,mem_regidate,mem_nickname)
		values(seq_mem_no.nextval,#{mem_id},#{mem_pwd},#{mem_email},#{mem_email_agree},#{mem_name},#{mem_info_open},sysdate,#{mem_nickname})
	</insert>
	
	<update id="update"><!-- 회원수정 -->
		update member_info set mem_nickname=#{mem_nickname}, mem_pwd=#{mem_pwd} where mem_id = #{mem_id}
	</update>
	
	<delete id="delte"><!-- 회원 탈퇴 -->
		delete from member_info where mem_no=#{mem_no}
	</delete>
	<!-- 비밀번호 찾기. 임시 비밀번호로 변경 -->
	<update id="changeTempPwd">
		update member_info set mem_pwd = #{mem_pwd} where mem_no = #{mem_no} and mem_email = #{mem_email}
	</update>
	
	
	<!-- 아이디 중복 체크 -->
	<select id="checkOverId" parameterType="java.lang.String" resultType="java.lang.Integer">
		select count(*) from member_info where mem_id = #{mem_id}
	</select>
	
	<!-- 닉네임 중복 체크 -->
	<select id="checkOverNickname" parameterType="java.lang.String" resultType="java.lang.Integer">
		select count(*) from member_info where mem_nickname = #{mem_nickname}
	</select>
	
	<!-- 이메일 중복 체크 -->
	<select id="checkOverEmail" parameterType="java.lang.String" resultType="java.lang.Integer">
		select count(*) from member_info where mem_email = #{mem_email}
	</select>
	
	<!-- 다른 페이지에서 @를 누르면 로그인하라고 창뜨게끔 => Member_FavoriteManager -->
	<select id="isMember" resultType="com.member.vo.Member_InfoVo">
		select * from member_info where mem_id = #{mem_id} and mem_pwd = #{mem_pwd}
	</select>
</mapper>