<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myPage">
	<!-- 내가 쓴 댓글 -->
	<select id="list" resultType="com.member.vo.MyPage_CommentVo">
		select bc.comment_no, b.board_no,
		b.board_title, mi.mem_nickname, bc.comment_date, bc.comment_content
		from board_comment bc
		inner join board_post b
		on bc.board_no = b.board_no
		inner join member_info mi
		on bc.mem_no = mi.mem_no
		where mi.mem_no = #{mem_no}
	</select>
	
	<!-- 내가 쓴 글 -->
	<select id="myList" resultType="com.member.vo.MyPage_PostVo">
		select b.board_no, b.board_title, m.mem_nickname,b.board_date,b.board_hit
		from board_post b
		inner join member_info m
		on b.mem_no = m.mem_no
		where m.mem_no = #{mem_no}
	</select>
	
		<!-- 회원 수정 -->
	<update id="updateMem">
		update member_info set mem_id=#{mem_id}, mem_email=#{mem_email}, mem_name=#{mem_name}, mem_nickname=#{mem_nickname}, mem_content=#{mem_content}, mem_img=#{mem_img}
		where mem_no = #{mem_no}
	</update>
	
	
	<!-- 회원 탈퇴 -->
	<delete id="delMem">
		delete from member_info
		where mem_pwd = #{mem_pwd}
	</delete>
	
	<!-- 비밀번호 체크 -->
	<select id="checkPwd" resultType="int">
		select count(*)
		from member_info
		where mem_id = #{mem_id} and mem_pwd = #{mem_pwd}
	</select>
</mapper>