<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myPage">
	<!-- 내가 쓴 댓글 -->
	<select id="list" resultType="com.member.vo.MyPage_CommentVo">
		select bc.comment_no, b.board_no,
		b.board_title, mi.mem_nickname, bc.comment_date, bc.comment_content
		from board_comment bc
		inner join board_post b
		on bc.board_no = b.board_no
		inner join member_info mi
		on bc.mem_no = mi.mem_no
		where mi.mem_no = #{mem_no}
	</select>
	
	<!-- 내가 쓴 글 -->
	<select id="myList" resultType="com.member.vo.MyPage_PostVo">
		select b.board_no, b.board_title, m.mem_nickname,b.board_date,b.board_hit
		from board_post b
		inner join member_info m
		on b.mem_no = m.mem_no
		where m.mem_no = #{mem_no}
	</select>
	
	
</mapper>