<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myPage">
	<!-- 내가 쓴 댓글 -->
	<select id="list" resultType="com.member.vo.MyPage_CommentVo">
		select bc.comment_no, b.board_no,
		b.board_title, mi.mem_nickname, bc.comment_date, bc.comment_content
		from board_comment bc
		inner join board_post b
		on bc.board_no = b.board_no
		inner join member_info mi
		on bc.mem_no = mi.mem_no
		where mi.mem_no = #{mem_no}
	</select>
	
	<!-- 내가 쓴 글 -->
	<select id="myList" resultType="com.member.vo.MyPage_PostVo">
		select b.board_no, b.board_title, m.mem_nickname,b.board_date,b.board_hit
		from board_post b
		inner join member_info m
		on b.mem_no = m.mem_no
		where m.mem_no = #{mem_no}
	</select>
	

		<!-- 회원 수정 -->
	<update id="updateMem">
		update member_info set mem_id=#{mem_id}, mem_email=#{mem_email}, mem_name=#{mem_name}, mem_nickname=#{mem_nickname}, mem_content=#{mem_content}, mem_img=#{mem_img}
		where mem_no = #{mem_no}
	</update>
	
	
	<!-- 회원 탈퇴 -->
	<delete id="delMem">
		delete from member_info
		where mem_pwd = #{mem_pwd}
	</delete>
	
	<!-- 비밀번호 체크 -->
	<select id="checkPwd" resultType="int">
		select count(*)
		from member_info
		where mem_id = #{mem_id} and mem_pwd = #{mem_pwd}
	</select>

	<!-- 마이페이지 메인 -->
	<select id="main" resultType="com.member.vo.MyPage_MainVo">
		select mem_name, mem_id, mem_email, mem_nickname, mem_img, mem_content from member_info where mem_no = #{mem_no}
	</select>
	
	<!-- 쪽지 보내기 -->
	<!-- create sequence seq_post_no increment by 1 start with 1; -->
	<insert id="sendMessage">
		insert into member_message(post_no, mem_no, post_from, post_to, post_title
			, post_content, post_ref_no, post_read, post_reply, post_regidate)
		values ((select nvl(max(post_no), 0) + 1 from member_message), #{mem_no}, #{post_from}, #{post_to}, #{post_title}
		, #{post_content}, #{post_ref_no}, #{post_read}, #{post_reply}, sysdate)
	</insert>
	<!-- 발신 쪽지 목록 가져오기 -->
	<select id="sendMsgList" resultType="com.member.vo.Member_MessageListVo">
		select rownum r, post_no, mem_no, mem_nickname, post_title
		      , post_content, post_ref_no, post_read, post_reply, post_regidate
		  from(select msg.post_no, msgto.mem_no, msgto.mem_nickname, msg.post_title
		            , substr(msg.post_content, 0, 10) post_content, msg.post_ref_no,
		              case msg.post_read
		                when 0 then '안읽음'
		                when 1 then '읽음'
		              end post_read,  msg.post_reply, msg.post_regidate
		        from member_message msg
		        inner join member_info msgfrom
		                on msg.mem_no = msgfrom.mem_no
		        inner join member_info msgto
		                on msg.post_to = msgto.mem_no
		       where msgfrom.mem_no = #{mem_no}
		       order by msg.post_no desc
		)
	</select>
	<!-- 수신 쪽지 목록 가져오기 -->
	<select id="receiveMsgList" resultType="com.member.vo.Member_MessageListVo">
		select rownum r, post_no, mem_no, mem_nickname, post_title
		      , post_content, post_ref_no, post_read, post_reply, post_regidate
		  from(select msg.post_no, msgfrom.mem_no, msgfrom.mem_nickname, msg.post_title
		            , substr(msg.post_content, 0, 10) post_content, msg.post_ref_no,
		              case msg.post_read
		                when 0 then '안읽음'
		                when 1 then '읽음'
		              end post_read,  msg.post_reply, msg.post_regidate
		        from member_message msg
		        inner join member_info msgfrom
		                on msg.mem_no = msgfrom.mem_no
		        inner join member_info msgto
		                on msg.post_to = msgto.mem_no
		       where msgto.mem_no = #{mem_no}
		       order by msg.post_no desc
		)
	</select>
	<!-- 쪽지 읽기 -->
	<select id="messageDetail" resultType="com.member.vo.Member_MessageListVo">
		select rownum r, post_no, mem_no, mem_nickname, post_title
		      , post_content, post_ref_no, post_regidate
		  from(select msg.post_no, msgto.mem_no, msgfrom.mem_nickname, msg.post_title
		            , msg.post_content, msg.post_ref_no, msg.post_regidate
		        from member_message msg
		        inner join member_info msgfrom
		                on msg.mem_no = msgfrom.mem_no
		        inner join member_info msgto
		                on msg.post_to = msgto.mem_no
		       where msgto.mem_no = #{mem_no}
		       		 and msg.post_no = #{post_no}
		      )
	</select>
</mapper>